@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: radial-gradient(#fff,green);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar .fa-shopping-bag{
    color: rgb(53, 184, 53);

    /* background: transparent; */
    font-size: 30px;
}
.navbar .fa-bars{
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: #555;

}
p{
    color : #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.categories .col-3{
    flex-basis: 30%;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    margin-bottom: 30px;
    background: yellowgreen;
    border-radius: 10px;
    overflow: hidden;
}
.categories .col-3 img{
    width: 100%;
    height: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.small-container .row{
    margin-bottom: 60px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    height: 300px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    border-radius: 10px;
    overflow: hidden;
}
.col-4 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    position: absolute;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating i{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,green);
}
.offer .col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.testimonials{
    padding: 70px 0;
    background: #ddd3d3;
}
 .testimonials .col-3{
    text-align: center;
    flex-basis: 30%;
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 20px 14px rgb(0 0 0 / 10%);
    transition: transform 0.5s;
}
.testimonials .col-3 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-top: 20px;
}
.testimonials .col-3:hover{
    transform: translateY(-10px);
} 
.testimonials .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.testimonials .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonials .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands */
.brands{
    padding: 100px;
    background: #ddd3d3;
}
.brands .col-5{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.brands .col-5 img{
    width: 100%;
    cursor: pointer;
    height: 100%;
    filter: grayscale(100%);
}
.brands .col-5 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer img{
    width: 200px;
    height: 130px;
    border-radius: 7%;
}
.footer p{
    color: #8a8a8a;
}
.footer{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    text-decoration: none;
}
.footer ul li{
    list-style-type: none;
}
.footer .app-logo img{
    width: 100px;
    height: 45px;
    border-radius: 20px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
}
.footer .copyright{
    text-align: center;
}
.menu-icon{
    display: none;
}



@media only screen and (max-width: 768px){
    nav ul{
        position: absolute;
        top: 110px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        display: none;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}